<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/static/css/news.css">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<title>Show | Hacker News</title>
</head>

<body>
	<center>
		<table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
			<tbody>

				{{ template "navigation" .}}

				<tr>
					<td>
						<table class="itemlist" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								{{ range $i, $p := .Posts }}
								<tr class="athing" id="{{ $p.ID }}">
									<td class="title" valign="top" align="right">
										<span class="rank">{{ incIndex $i }}.</span>
									</td>
									<td class="votelinks" valign="top">
										<center>
											<a id="up_{{ $p.ID}}" href="/vote/{{ $p.ID }}?how=up&amp;goto=/news">
												<div class="votearrow" title="upvote"></div>
											</a>
										</center>
									</td>
									{{ if $p.Link }}
									<td class="title">
										<a href="{{ $p.Link}}" class="storylink">{{ $p.Title }}</a><span class="sitebit comhead">
											(<a href="/from/{{ $p.Domain }}"><span class="sitestr">{{ $p.Domain }}</span></a>)</span>
									</td>
									{{ else }}
									<td class="title">
										<a href="/item/{{ $p.ID }}" class="storylink">{{ $p.Title }}</a>
									</td>
									{{ end }}
								</tr>
								<tr>
									<td colspan="2"></td>
									<td class="subtext">
										<span class="score" id="score_{{ $p.ID }}">{{ $p.Points }} points</span>
										by <a href="/user/{{ $p.Owner }}" class="hnuser">{{ $p.Owner }}</a>
										<span class="age" title="{{ formatDatetime $p.CreatedAt }}"><a href="/item/{{ $p.ID }}">
												{{ timeSince $p.CreatedAt }} ago</a></span>
										<span id="unv_{{ $p.ID }}"></span> |
										<a href="hide?id=27903787&amp;goto=news">hide</a> |
										<a href="/item/{{ $p.ID }}">{{ $p.CommentNum }}&nbsp;comments</a>
									</td>
								</tr>
								<tr class="spacer" style="height: 5px"></tr>
								{{ end }}
								<!--                    -->
								<!--  -->
								<tr class="spacer" style="height: 5px"></tr>
							</tbody>
						</table>
					</td>
				</tr>

				{{ template "footer" .}}
			</tbody>
		</table>
	</center>
	<script type='text/javascript' src='/static/js/hn.js'></script>
</body>

</html>